*{
    margin: 0;
    padding: 0;
}
#logo{
    font-family: 'Caveat', cursive;
}
body{
    font-family: 'Quicksand', sans-serif;
}
.card-title{
    font-size: 1.4rem;
    font-weight: 900;
}
.card-text{
    font-size: 1.1rem;
    font-weight: 600;
}
.date{
    font-size: 12px;
    font-weight: 800;
}
.time{
    font-size: 12px;
    font-weight: 800;
}
.datentime{
    background: #ecc3c3;
    color: rgb(109, 11, 41);
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    width: fit-content;
    border-radius: 4px;
    padding: 0px 12px;
}